name: CodeClique

services:
  proxy:
    image: nginx:mainline-alpine
    volumes:
      - type: bind
        source: ./proxy/nginx.prod.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - db
      - backend
      - frontend
    restart: unless-stopped
    logging:
      driver: "local"
      options:
        max-size: 10m
        max-file: "3"

  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres:/var/lib/postgresql/data
    restart: unless-stopped
    logging:
      driver: "local"
      options:
        max-size: 10m
        max-file: "3"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    restart: unless-stopped
    logging:
      driver: "local"
      options:
        max-size: 10m
        max-file: "3"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    depends_on:
      - db
    restart: unless-stopped
    logging:
      driver: "local"
      options:
        max-size: 10m
        max-file: "3"

volumes:
  postgres: