name: CodeClique-dev

services:
  proxy:
    image: nginx:mainline-alpine
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - db
      - backend
      - frontend
    restart: unless-stopped

  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: codeclique_user
      POSTGRES_PASSWORD: codeclique_password
      POSTGRES_DB: codeclique_db
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    develop:
      watch:
        - action: sync
          path: ./frontend/src
          target: /app/src

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - db
    restart: unless-stopped
    develop:
      watch:
        - action: sync
          path: ./backend/src
          target: /app/src